* {
    font-family: Arial;

}
:root {

    --themen-color: #06aec8;
    --themen-text-color: white;

    --loader-color: #008cff;
    --loader-shadow: rgba(0, 0, 0, 0.2);
}
body {
    margin: 0;
    padding: 0;
}

.loader-wrapper.loader-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

/* Standard Spinner */
.loader-spinner {
    width: 50px;
    height: 50px;
    border: 5px var(--loader-color) solid;
    border-top: none;
    border-left: none;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 1px var(--loader-shadow);
    animation: rotateLoader 2s linear infinite;
}

/* Bild Loader */
.loader-picture {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

/* Custom CSS Loader */
.loader-custom {
    width: 50px;
    height: 50px;
    background: red;
    animation: pulse 1s infinite alternate;
}

@keyframes rotateLoader {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes pulse {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}


